@use "../../Style/global" as *;
@use "../../Style/margin" as *;
@use "../../Style/variables" as *;

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: $background-color;
  position: sticky;
  top: 0;
  z-index: 2;

  &__logo {
    font-size: 3rem;
    font-weight: bold;

    &-link {
      text-decoration: none;
      color: $primary-text-color;
    }
  }

  &__menu {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  &__toggle {
    background: none;
    border: none;
    cursor: pointer;
    z-index: 1001;

    @include desktop {
      display: none;
    }
  }

  &__icon {
    width: 28px;
    height: 28px;
    stroke: $primary-text-color;
  }

  &__nav {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 100%;
    background-color: $background-color;
    transform: translateX(100%);
    transition: transform 0.2s ease-in-out;
    z-index: 1000;
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;

    &--open {
      transform: translateX(0);
    }

    @include tablet {
      width: 40%;
    }

    @include desktop {
      position: static;
      transform: none;
      flex-direction: row;
      height: auto;
      width: auto;
      padding: 0;
    }
  }

  &__list {
    list-style: none;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;

    @include tablet {
        gap: 120px;
    }

    @include desktop {
      flex-direction: row;
      gap: 60px;
    }
  }

  &__item {
    text-decoration: none;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    color: $primary-text-color;
    position: relative;
    z-index: 0;
    cursor: pointer;
    padding: 0.75rem 1rem;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: black;
      transform: scaleX(0);
      transform-origin: left;
      opacity: 0;
      transition: transform 0.3s ease, opacity 0.3s ease;
      z-index: -1;
    }

    &:hover::before {
      transform: scaleX(1);
      opacity: 0.8;
    }

    &:hover {
      color: white;
    }

    &.active {
      background-color: black;
      color: white;
    }
  }

  &__overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
    transition: opacity 0.3s ease-in-out;
  }
}
