@use "../../Style/global" as *;
@use "../../Style/margin" as *;
@use "../../Style/variables" as *;

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  background-color: white;
  padding: 2rem;
  border-radius: 10px;
  max-width: 400px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  text-align: center;

  &__button {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    background-color: #b35a24;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  &__overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    transition: opacity 0.3s ease-in-out;
  }
}
